body{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.col-md-6{
    margin: 150px !important;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border: 5px solid #000  !important; 
}
input[type=button]
{
    width: 100% ;
    background-color:blue;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #000;
}
input[type=text]
{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 15px;
}